body {
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;
    margin: 0; /* Remove default margin */
}


/* #gallery {
    margin-left: 380px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center; /* Center the columns horizontally */
    /* align-content: center; Center the rows vertically */
/* } */ 

/* #gallery h2 {
    font-size: 16px
} */

body {
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;
    margin: 0;
}

#gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.gallery-item {
    margin: 10px;
    text-align: center;
    flex-basis: calc(33.33% - 20px);
         /* flex-basis: calc(100% - 20px); */
}

.image-container {
    margin-bottom: 5px; /* Add spacing between image and title */
}

img {
    height: 180px;
}

.title-container {
    text-align: center;
}

.photo-title {
    display: block; /* Make <a> tags appear as block elements (below the image) */
    text-decoration: none;
    color: white;
}

#gallery h2 {
    font-size: 16px;
}
#modal {
    max-width: 500px
}
/* canvas {
    position: absolute;
} */
.background-canvas {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1; /* Place the canvas behind other elements */
    pointer-events: none; /* Allows interactions with elements behind the canvas */
    /* opacity: ; Adjust the opacity to your preference */
  }